%buttons-config
{   
    font-weight: bolder;
    border-radius:1.2rem;
    padding:10px;
    cursor:pointer;
    outline: none;
}



.btn-alert
{
    background-color: $color-alert;
    color:$color-lightgrey;
    font-size:$baseFontSize;
    @extend %buttons-config;
}

.btn-sucess
{
    background-color: $color-sucess;
    color:white;
    font-size: $baseFontSize;
    @extend %buttons-config;
}

.btn-info
{
    background-color: $color-info;
    color:black;
    font-size:$baseFontSize;
    @extend %buttons-config;
}
